

/** Layout Containers **/

#logo {
	right: 30px;
	position: absolute;
	top: 77px;
}

#container {
	background-position: right top;        
	background-image: url(../img/layout/zergface2.png);        
	background-repeat: no-repeat;        
	font-family: Helvetica, Verdana, Arial, sans-serif;
	color: #a19e9c;
	font-size: small;
	width: 100%;
	margin: 0;
	padding: 0;
}

#headercontent {
	background-image: url(../img/layout/headerbackground2.png);
	background-repeat: repeat-x;
	width: 100%;
	height: 136px;
	padding-top: 6px;
}

#usercontent {
	position: absolute;
	right: 50px;
	top: 5px;
}
	
#content {
	padding-right: 50px;
	padding-left: 50px;
}

#breadcrumb {
	line-height: 40px;
	height: 40px;
	border-bottom-color: #382e24;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-bottom: 15px;
}
	
#side {
   width: 150px;
   vertical-align: top;
   position: absolute;
}

#activeusers {
	margin-top: 10px;
}
	
#main {    
   vertical-align: top;
}

#side ul li {
	padding: 2px;
}

#side ul ul {
	padding-left: 20px;
}

#side ul ul li {
	list-style-type: square;
}

#side ul {
	padding-left: 5px;
}

/** --- **/



/** Div sections styling **/

div.form,
div.index,
div.view {
	margin-left: 150px;
	padding-left: 10px;
	
   	border-left-color: #382e24;
   	border-left-style: solid;
   	border-left-width: 1px;
}
	
div.page-header {
	width: 50%;
	text-align: justify;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
}

div.page-header h2 {
	text-align: center;
	color: white;
	padding: 0;
	margin: 0;
}

div.page-header p {
	border-bottom: 1px solid #382e24;
	border-top: 1px solid #382e24;
	padding: 5px 2px 5px 2px;
}

div.paging {
	text-align: center;
}

#footer {
	text-align: center;
	margin-bottom: 10px;
}

/** --- **/



/** Main defaults **/


* {
	line-height: 110%;
}

body {        
	margin: 0px;        
	padding: 0px;        
	background-color: #18191b;
}

a {
	color: #d7994f;
	text-decoration: none;
	
}

a:hover {
	color: #697d88;
	text-decoration: underline;
}

.admin {
	color: #c9b973;
}

.classified {
	color: red;
}

/** --- **/




/** Default Tables **/

table {
	border-right:0;
	clear: both;
	margin-bottom: 10px;
	width: 100%;
}
th {
	text-align: left;
	border:0;
	border-bottom:2px solid #555;
}
th a {
	color: #fefffe;
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a.asc:after {
	content: ' ⇣';
}
th a.desc:after {
	content: ' ⇡';
}
table tr td {
	padding: 6px;
	text-align: left;
	vertical-align: top;
}
table tr:nth-child(2n) td {
}
table .altrow td {
	background: #222326;
}
td.actions {
	text-align: center;
	white-space: nowrap;
}
.left {
	text-align: left;
	vertical-align: middle;
}
.center {
	text-align: center;
	vertical-align: middle;
}
.right {
	text-align: right;
	vertical-align: middle;
}
.third {
	width: 33%;
}
table td.actions a {
	margin: 0px 6px;
	padding:2px 5px;
}

/** --- **/




/** Forum tables **/

table.forum {
	border-collapse: collapse;
}
table.forum tr {
	border-top: 1px solid #382e24;
	border-bottom: 1px solid #382e24;
}

.forum_icon {
	width: 2%;
}

.forum_title {
	width: 31%;
}
.forum_author {
	width: 34%;
}
.forum_lastpost {
	width: 33%;
}

/** --- **/


/** News Div **/

div .news {
	margin-bottom: 20px;
}
div .news ul {
	border-bottom: 1px solid #382e24;
	border-top: 1px solid #382e24;
	padding: 5px 2px 5px 2px;
}
div .news li {
	padding-bottom: 2px;
	padding-top: 2px;
	margin-left: 20px;
	list-style-type: square;
}
div .news table {
	border-bottom: 1px solid #382e24;
	border-top: 1px solid #382e24;
	padding: 5px 2px 5px 2px;
}

div .news p.newstop {
	border-top: 1px solid #382e24;
	padding: 5px 2px 5px 2px;
}

div .news p.newsbot {
	border-bottom: 1px solid #382e24;
	padding: 5px 2px 5px 2px;
}

div .news div.left {
	width: 50%;
	float: left;
}

div .news div.right {
	width: 50%;
	float: right;
}

div .news p.actions {
	text-align: right;
	border: 0;
	padding: 5px 2px 5px 2px;
}

div .news h2 {
	padding:0;
}



/** Headings **/

h2 {
	color: white;
	font-variant: normal;
	font-weight: bold;
	padding-bottom: 5px;
	font-size: 1.2em;
}

h1 {
	font-size: 2em;
}

/** --- **/




/** Divs **/

div .record {
	margin-bottom: 20px;
}
div .record ul {
	/**border-bottom: 1px solid #382e24;
	border-top: 1px solid #382e24;
	padding: 5px 2px 5px 2px;**/
}
div .record li {
	padding-bottom: 2px;
	padding-top: 2px;
	margin-left: 20px;
	list-style-type: square;
}
div .record table {
	border-bottom: 1px solid #382e24;
	border-top: 1px solid #382e24;
	padding: 5px 2px 5px 2px;
}

div .record p {
	border-bottom: 1px solid #382e24;
	border-top: 1px solid #382e24;
	padding: 5px 2px 5px 2px;
}

div .record div.left {
	width: 50%;
	float: left;
}

div .record div.right {
	width: 50%;
	float: right;
}

div .record p.actions {
	text-align: right;
	border: 0;
}
div .page-header p.actions {
	text-align: right;
	border: 0;
}

div .record h2 {
	padding:0;
}

/** --- **/



/** Div messages **/

div #flashMessage {
	text-align: right;
	clear: both;
	color: #fff;
	font-weight: bold;
	margin: 0 0 1em 0;
	padding: 5px;
}

div.message {
	border-color: #1e7d17;
	border-style: solid;
	border-width: 1px;	
	background: #145813;
}

div.error-message {
	border-color: #9c2e0d;
	border-style: solid;
	border-width: 1px;
	background-color: #591b08;
}

/** --- **/




/** Input forms **/

fieldset {
	border: 1px solid #382e24;
	margin-bottom: 1em;
	padding: 16px 20px;
}
fieldset legend {
	font-size: 1.2em;
	font-weight: bold;
}
input,select {
	border: 1px solid #382e24;
	background-color: black;
	color: white;
}

textarea {
	border: 1px solid #382e24;
	background-color: black;
	color: white;
	width: 100%;
	height: 200px;
}

/** --- **/




/** Profile view styling **/	

div.profile { 
	margin-left: 10px;
	margin-right: 10px;
}
div .profile ul {
	padding: 5px 2px 5px 2px;
}
div .profile li {
	padding-bottom: 2px;
	padding-top: 2px;
	margin-left: 20px;
	list-style-type: square;
}

.profilecontain{
	padding: 0px;
	margin-bottom: 5px;
}
.profilecontain tr td{
	padding: 0px 6px 0px 6px;
	text-align: left;
	vertical-align: top;
	
}
	
.profiletable{
	padding: 1px;
	vertical-align: center;
}
		
.profiletable th {
	border-bottom: 1px solid #382e24;
	color: white;
	font-weight: bold;
	font-size: 1.1em;
	vertical-align: center;
	padding: 1px;
}
	
.profiletable tr td {
	padding: 3px;
	text-align: left;
	vertical-align: top;


}

.profiletable .bottom {
	border-top: 1px solid #382e24;	
}

.profiletable .profileimage{
	vertical-align: middle;
	text-align: center;
}

/** --- **/




/** Permissions edit **/	

.permissions{
	padding: 2px;
	vertical-align: center;
}
		
.permissions th {
	border-bottom: 2px solid #555;
	color: white;
	font-weight: bold;
	font-size: 1.1em;
	vertical-align: center;
	padding: 2px;
}
	
.permissions tr td {
	padding: 2px;
	text-align: left;
	vertical-align: top;
}

/** --- **/


/** Some bbcode specific stuff **/

.quote {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font: 8pt arial;
	width: 80%;
	overflow: auto;
	background-color:#141517; 
	border: 1px #382e24 solid;
}

.quote hr {
	height: 1px;
	border: 0;
	background-color: #382e24;
}

.tooltip {
  position: absolute;
  display: none;
  background-color: #141517;
  color: #FFFFFF;
  border: 1px solid #382e24;
  padding: 4px 10px;
  z-index: 100;
}

.errorbox {
  background-color: #FFCCCC;
  border: 1px dashed #D60000;
  color: #666666;
  font-size: 10px;
  width: 350px;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  
}

